<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Importing vue -->
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
  <div id="app" class="p-2">
    <input v-model="word" type="text" placeholder="Enter a word">

    <button @click="show">Show it</button>

    </br>
    <div class="container-fluid" v-if="shown">
      <p style="margin-left: 10px; margin-bottom: 1px; margin-top: 1px;">1. {{savedWord}}</p>
      <p style="margin-left: 10px; margin-bottom: 1px; margin-top: 1px;">2. {{lowerCase}}</p>
      <p style="margin-left: 10px; margin-bottom: 1px; margin-top: 1px;">3. {{upperCase}}</p>
    </div>
    </br>
    <div class="container-fluid" v-if="shown">
      <table class="table table-striped font-weight-normal w-25">
        <tbody>
          <tr>
            <th>
              1
            </th>
            <th>
              {{savedWord}}
            </th>
          </tr>
          <tr>
            <th>
              2
            </th>
            <th>
              {{lowerCase}}
            </th>
          </tr>
          <tr>
            <th>
              3
            </th>
            <th>
              {{upperCase}}
            </th>
          </tr>
        </tbody>
      </table>  
    </div>
      
    

  </div>
  <script src="main.js"></script>
</body>
</html>